@import './styles/fonts.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'OpenSans';
  font-weight: 400;
}

.container {
  max-width: 615px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}



